<div class="login-container" style="background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGhvdGVsc3xlbnwwfHwwfHw%3D&w=1000&q=80');">
  


    <div class="login-container">
      <div class="login-modal">
        <div class="login-image">
          <img src="https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX25066784.jpg" alt="Login Image" class="rounded-circle">
        </div>
        <div class="login-form">
          <h1 class="login-title"><i class="fas fa-user"></i>Admin</h1>
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
              <label for="email"><i class="fas fa-envelope"></i> Email</label>
              <input type="email" class="form-control" [(ngModel)]="admin.username" name="username" required>
              <!-- Add appropriate validation styles for invalid input -->
              <div *ngIf="form.controls['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched)" class="error-message"><i class="fas fa-exclamation-circle"></i> Please enter a valid email</div>
            </div>
            <div class="form-group">
              <label for="password"><i class="fas fa-lock"></i> Password</label>
              <input type="password" class="form-control" [(ngModel)]="admin.password" name="password" required>
              <!-- Add appropriate validation styles for invalid input -->
              <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="error-message"><i class="fas fa-exclamation-circle"></i> Please enter a valid password</div>
            </div>
          
            <button type="submit" class="btn-login"><i class="fas fa-sign-in-alt"></i> Sign In</button>
            <div class="signup-link">
              Back to Home <a routerLink="/homepage"> Home</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>


    <!-- <i class="fas fa-user-plus"></i> -->